/*Movile*/
/*Inicio página contacto*/
.main_formulario-img {
    background-image: url(../img/envase-pet.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_formulario {
    padding: 5px;
    color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;

    &_titulo {
        position: relative;
        left: 20px;
    }

    &_nombre {
        padding: 5px;
        position: relative;
        left: 2px;
    }

    &_apellido {
        padding: 5px;
    }

    &_mail {
        padding: 5px;
        position: relative;
        left: 6px;
    }

    &_numero {
        padding: 5px;
    }
}

.main_formulario_mensaje {
    padding: 5px;
}

.main_formulario_mensaje_cuadro {
    border: 2px solid;
    border-radius: 4px;
}

.main_formulario_enviar {
    padding: 35px;

    &_bottom {
        text-decoration: none;
        padding: 5px 40px;
        color: $primary;
        border: 2px solid $dark;
        background-color: $green;
        border-radius: 41px;
        text-align: center;
        height: 36px;
        @include box-shadow(3);
        position: relative;
        left: 35px;
        bottom: 35px;
    }
}

/*Fin página contacto*/

/*Tablet*/
@media (min-width: 768px) {

    /*Página Contacto*/
    .whatsapp {
        bottom: 40px;
    }

    .main_formulario {
        padding: 25px;
        font-size: 18px;

        &_nombre {
            padding: 25px;
        }

        &_apellido {
            padding: 25px;
        }

        &_mail {
            padding: 25px;
        }

        &_numero {
            padding: 25px;
        }
    }

    .main_formulario_mensaje {
        padding: 25px;
    }

    .main_formulario_enviar {
        padding: 35px;
    }

    /*Fin página contacto*/
}

/*Desktop*/
@media (min-width: 992px) {
    ._empresa_logo {
        position: relative;
        bottom: 10px;
    }

    /*Página Contacto*/
    .main_formulario {
        padding: 50px;
    }

    .main_formulario_enviar {
        padding: 15px;

        &__bottom {
            position: relative;
            left: 40px;
        }
    }

    /*Fin página contacto*/
}