/*Movile*/
/*Inicio página novedades*/

.article_novedades_titulo {
    text-align: center;
    padding: 30px;
    color: #41415c;
}

.carousel-item {
    position: relative;
    right: 50px;
}

.carousel-inner {
    background-color: $cta;
    border: solid;
    border-radius: 5px;
    margin-bottom: 50px;
}

.article_novedades_img-center {
    width: 170px;
    position: relative;
    left: 160px;
}

/*Fin página novedades*/
/*Tablet*/
@media (min-width: 768px) {

    /*Inicio página novedades*/
    .article_novedades_titulo {
        padding: 50px;
    }

    .carousel-item {
        position: relative;
        left: 140px;
    }

    .carousel-inner {
        background-color: $cta;
        border: solid;
        border-radius: 5px;
        margin-bottom: 50px;
    }

    .article_novedades_img-center {
        width: 200px;
        align-items: center;
    }

    /*Fin página novedades*/

}

/*Desktop*/
@media (min-width: 992px) {
    .carousel-item {
        left: 700px;
    }

    .article_novedades_titulo {
        padding: 60px;
    }

    .carousel-inner {
        background-color: $cta;
        border: solid;
        border-radius: 5px;
        margin-bottom: 50px;

    }

    /*Fin página novedades*/
}