/*Movile*/
/*Página prodocutos */
.article_wrapper_productos {
    display: flex;
    flex-direction: column;
}

.article_wrapper_productos_frasco-1 {
    margin: 15px;
    background-color: white;
    padding: 15px;
    text-align: center;
    align-items: center;
    border: solid black;
    @include box-shadow(3);
}

.article_wrapper_productos_frasco-9 {
    margin: 15px;
    background-color: white;
    padding: 15px;
    text-align: center;
    align-items: center;
    border: solid black;
    @include box-shadow(3);
}

.article_texto {
    background: radial-gradient(circle, $secondary 0%, $cta 100%);
    border-radius: 42px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
}

/*Fin página productos*/

/*Tablet*/
@media (min-width: 768px) {

    /*Página productos*/
    .article_wrapper_productos_frasco-1 {
        margin: 30px;
        @include box-shadow(3);
    }

    .article_wrapper_productos {
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "article_wrapper_productos_frasco-9 article_wrapper_productos_frasco-9";
    }

    .article_wrapper_productos .article_wrapper_productos_frasco-9 {
        grid-column-start: article_wrapper_productos_frasco-9;
        grid-column-end: article_wrapper_productos_frasco-9;
    }

    .article_wrapper_productos_frasco-9 {
        margin: 30px;
        @include box-shadow(3);
    }

    /*Fin página productos*/
}

@media (min-width: 992px) {

    /*Inicio página productos*/
    ._empresa_logo {
        position: relative;
        bottom: 10px;
    }

    .article_wrapper_productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "envase_1 envase_2 envase_3"
            "envase_4 envase_5 envase_6"
            "envase_7 envase_8 article_wrapper_productos_frasco-9";
        align-items: center;

        :hover {
            transform: scale(1.1);
            transition: all 1s;
        }
    }

    .article_wrapper_productos_frasco-1 {
        margin: 100px;
        @include box-shadow(3);

    }

    .article_wrapper_productos_frasco-9 {
        margin: 100px;
        @include box-shadow(3);
    }

    .article_wrapper_productos .article_texto {
        margin: 15px;
    }

    /*Fin página productos*/
}