/*Movile*/
/*Página servicios*/
.article_servicios_prestados {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 130px;

}

.ariticle_moto_fondo {
    background-color: $success;
    border-radius: 42px;
    width: 250px;
    position: relative;
    right: 60px;
    padding: 20px;
    @include box-shadow(3);
}

.article_moto_img {
    width: 150px;
}

.article_moto_parrafo {
    position: relative;
    top: 20px;
}

.ariticle_camion_fondo {
    background-color: $success;
    border-radius: 42px;
    width: 250px;
    position: relative;
    right: 80px;
    margin: 20px;
    @include box-shadow(3);
}

.article_telefono_fondo {
    background-color: $success;
    border-radius: 42px;
    width: 250px;
    position: relative;
    right: 80px;
    margin: 20px;
    @include box-shadow(3);
}

.article_telefono_img {
    width: 200px;
    margin: 20px;
}

.article_pago_fondo {
    background-color: $success;
    border-radius: 42px;
    width: 250px;
    position: relative;
    right: 80px;
    margin: 20px;
    @include box-shadow(3);
}

.article_logo_fondo {
    background-color: $success;
    border-radius: 42px;
    width: 250px;
    position: relative;
    right: 80px;
    margin: 20px;
    @include box-shadow(3);
}

/*Fin página servicios*/

/*Tablet*/
@media (min-width: 768px) {

    /*Incio página servicios*/
    ._empresa_logo {
        position: relative;
        bottom: 10px;
    }

    .article_servicios_prestados {
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr 1fr;
        position: relative;
        left: 45px;
    }

    .ariticle_moto_fondo {
        margin: 15px;
        position: relative;
        right: 80px;
    }

    .article_moto_img {
        width: 150px;
    }

    .article_moto_parrafo {
        position: relative;
        top: 15px;
    }

    .ariticle_camion_fondo {
        margin: 15px;
    }

    .parrafo_servicios_camion {
        position: relative;
        top: 3px;
    }

    .article_moto_img {
        width: 202px;
    }

    .article_telefono_fondo {
        margin: 15px;
    }

    .article_telefono_img {
        width: 150px;
    }

    .article_telefono_parrafo {
        position: relative;
        top: 68px;
    }

    .article_pago_fondo {
        margin: 15px;
    }

    .article_pago_img {
        width: 200px;
    }

    .article_logo_fondo {
        margin: 15px;
    }

    .article_camion_parrafo {
        position: relative;
        top: 1px;
    }

    .article_logo_img {
        width: 200px;
    }

    /*Fin página servicios*/
}

/*Desktop*/
@media (min-width: 992px) {

    /*Inicio página servicios*/
    .article_servicios_prestados {
        display: grid;
        grid-area: auto;
        grid-template-columns: 1fr 1fr;
        position: relative;
        left: 130px;
    }

    .ariticle_moto_fondo {
        width: 600px;
        margin: 10px;
        position: relative;
        right: 80px;
    }

    .article_moto_parrafo {
        position: relative;
        top: 33px;
    }

    .article_moto_img {
        width: 200px;
    }

    .ariticle_camion_fondo {
        width: 600px;
        margin: 10px;
    }

    .camion_envios {
        width: 250px;
    }

    .article_telefono_fondo {
        width: 600px;
        margin: 10px;
    }

    .article_telefono_img {
        width: 190px;
    }

    .article_telefono_parrafo {
        position: relative;
        top: 59px;
    }

    .article_pago_fondo {
        width: 600px;
        margin: 10px;
    }

    .article_pago_img {
        width: 250px;
    }

    .article_logo_fondo {
        width: 600px;
        margin: 10px;
    }

    .article_camion_parrafo {
        position: relative;
        top: 1px;
    }

    .article_logo_img {
        width: auto;
    }

    /*Fin página servicios*/
}